<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Aurora Boreal</title>
<meta content="" name="description">
<meta content="" name="keywords">
<!-- Bootstrap CSS -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<!-- Favicons -->
<link href="/static/img/AURORALOGOSFUNDO.ico" rel="icon">
<link href="/static/img/AURORALOGOSFUNDO.ico" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/static/assets/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="/static/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/static/assets/vendor/simple-datatables/style.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/static/assets/css/style.css" rel="stylesheet">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='/static/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="/static/css/all.min.css">
<link rel="stylesheet" href="/static/css/style_form.css">
<link rel="stylesheet" href="/static/css/custom_style.css">
<link rel="icon" type="image/x-icon" href="/static/img/AURORALOGOSFUNDO.ico"/>

<%- body %>
