<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Alunos-Aurora Boreal</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="img/AURORALOGOSFUNDO.ico" rel="icon">
    <link href="img/AURORALOGOSFUNDO.ico" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <style>
      #header{
        background: rgb(4,196,0);
        background: linear-gradient(90deg, rgba(4,196,0,1) 0%, rgba(9,17,121,1) 79%, rgba(154,0,255,1) 100%); 
      }
    </style>
    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Apr 20 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>

  <body>
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

      <ul class="sidebar-nav" id="sidebar-nav">

          <li class="nav-item">
              <a class="nav-link " href="professores">
                <i class="bi bi-grid"></i>
                <span>Gerenciamento Acadêmicos</span>
              </a>
              <a class="nav-link " href="alunos">
                <i class="bi bi-grid"></i>
                <span>Gerenciamento De Alunos</span>
              </a>
              <a class="nav-link " href="direcao">
                <i class="bi bi-grid"></i>
                <span>Painéis e gerenciamentos</span>
              </a>
          </li><!-- End Dashboard Nav -->

      </ul>

  </aside><!-- End Sidebar-->
    <%- body %>
  </body>