<body>
    
    <main id="main" class="main">
    
        <div class="pagetitle">
          <h1 class="materia-nome"></h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Pág.inicial</a></li>
              <li class="breadcrumb-item active materia-nome"></li>
            </ol>
          </nav>
        </div><!-- End Page Title -->
      
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Conteúdo da Matéria</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <h6>Conteúdo</h6>
                                <ul class="list-group" id="conteudo-lista">
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h6>Atividades</h6>
                                <ul class="list-group" id="atividades-lista">
                                </ul>
                            </div>
                            <div class="col-md-12">
                                <h6>Notas</h6>
                                <div class="card">
                                    <div class="card-body">
                                        <div id="bimestre1">
                                            <a style="display: flex; justify-content: space-between; align-items: center;" class="btn" data-bs-toggle="collapse" data-bs-target="#tabela-bimestre1"><h5>1° Bimestre</h5><i class="bi bi-chevron-down"></i></a>
                                            <div class="collapse" id="tabela-bimestre1">
                                                <table class="table table-hover table-striped" id="tabela-bimestre1">
                                                    <thead>
                                                        <tr>
                                                            <th>Atividade</th>
                                                            <th>Nota</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="bimestre2">
                                            <a style="display: flex; justify-content: space-between; align-items: center;" class="btn" data-bs-toggle="collapse" data-bs-target="#tabela-bimestre2"><h5>2° Bimestre</h5><i class="bi bi-chevron-down"></i></a>
                                            <div class="collapse" id="tabela-bimestre2">
                                                <table class="table table-hover table-striped" id="tabela-bimestre2">
                                                    <thead>
                                                        <tr>
                                                            <th>Atividade</th>
                                                            <th>Nota</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="bimestre3">
                                            <a style="display: flex; justify-content: space-between; align-items: center;" class="btn" data-bs-toggle="collapse" data-bs-target="#tabela-bimestre3"><h5>3° Bimestre</h5><i class="bi bi-chevron-down"></i></a>
                                            <div class="collapse" id="tabela-bimestre3">
                                                <table class="table table-hover table-striped" id="tabela-bimestre3">
                                                    <thead>
                                                        <tr>
                                                            <th>Atividade</th>
                                                            <th>Nota</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="bimestre4">
                                            <a style="display: flex; justify-content: space-between; align-items: center;" class="btn" data-bs-toggle="collapse" data-bs-target="#tabela-bimestre4"><h5>4° Bimestre</h5><i class="bi bi-chevron-down"></i></a>
                                            <div class="collapse" id="tabela-bimestre4">
                                                <table class="table table-hover table-striped" id="tabela-bimestre4">
                                                    <thead>
                                                        <tr>
                                                            <th>Atividade</th>
                                                            <th>Nota</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>


</body>

<script src="/js/aluno_materia.js"></script>